spring:
  application:
    name: rainmind

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME:rainmind}
    password: ${DB_PASSWORD}
    hikari:
      maximum-pool-size: 50
      minimum-idle: 10

  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

  flyway:
    enabled: true
    locations: classpath:db/migration

security:
  jwt:
    secret: ${JWT_SECRET}
    access-token-exp-ms: ${JWT_ACCESS_TOKEN_EXP_MS:6000000}

kma:
  auth-key: ${KMA_AUTH_KEY}

logging:
  level:
    org.springframework.security: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus
  endpoint:
    health:
      show-details: always
